h1, h2, h3 { color : white; }
h1 {font-size: 80px; text-align : center;}
h2 {font-size: 50px;}
h3 {font-size: 30px;}
p {font-size: 20px;}
h1, h2, h3, p {font-family: 'Big Shoulders Text', cursive;}

.thirds {
    width: 33%;
    display: inline-block;
}
